
        <div id="title">
    		<h1>Payment Plans</h1>
            <div id="add-new">
            <ul class="buttons"><li class="add"><a href="<%= new_store_plan_path()%>" class="add">Create New Payment Plan</a></li></ul> 
 			</div>
        </div>
 
<div class="table_wrapper"> 
  <table> 
    <tr> 
      <th>Name</th> 
      <th>Payments</th> 
      <th>Frequency</th> 
      <th>Interests</th> 
      <th>Late Fee</th> 
      <th>Includes Shipping</th> 
      <th>Includes Taxes</th> 
      <th></th> 
    </tr> 
       
       <% @plans.each do |plan| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= plan.name %></td>
        <td><%= plan.payments_count %></td>
        <td><%= plan.frequency.capitalize %></td>
        <td><%= "%.2f" % plan.interest.to_f %></td>
        <td><%= "%.2f" % plan.late_fee.to_f %></td>
        <td><%= plan.includes_shipping %></td>
        <td><%= plan.includes_tax %></td>
        <td>
          <%= link_to 'View', store_plan_path(plan) %> |
          <%= link_to 'Edit', edit_store_plan_path(plan) unless plan.is_readonly %> |
          <%= link_to 'Delete', store_plan_path(plan), confirm: 'Are you sure?', method: :delete  unless plan.is_readonly %>
        </td>
      </tr>
    <% end %>
    </table> 
</div>
</div>
