<div>
  <dl>
    <dt>Name</dt><dd><%= @plan.name %></dd><br/>
    <dt>Payments</dt><dd><%= @plan.payments_count %></dd><br/>
    <dt>Frequency</dt><dd><%= @plan.frequency.capitalize %></dd><br/>
    <dt>Interest</dt><dd><%= @plan.interest %></dd><br/>
    <dt>Late fee</dt><dd><%= @plan.late_fee %></dd><br/>
    <dt>Includes shipping?</dt><dd><%= @plan.includes_shipping %></dd><br/>
    <dt>Includes tax?</dt><dd><%= @plan.includes_tax %></dd><br/>
    <dt>Plan type</dt><dd><%= @plan.type %></dd><br/>
    <dt>Min price</dt><dd><%= @plan.min_price %></dd><br/>
    <dt>Max price</dt><dd><%= @plan.max_price %></dd><br/>
    <dt>Product</dt><dd><%= @plan.product_id %></dd>
  </dl>
</div>

<div class="breadcrumb">
  <%= link_to "Edit", edit_store_plan_path(@plan) %> | <%= link_to "Plans", store_plans_path %> | <%= link_to "Delete", store_plan_path(@plan), :method => :delete %>
</div>