
        <div id="title">
    		<h1><%=@plan.name%></h1>
    		<%if(!@plan.is_readonly)%>
            <div id="add-new">
            <ul class="buttons"><li class="add"><a href="<%=edit_store_plan_path(@plan)%>" class="add">Edit Payment Plan</a></li></ul>
             </div>
             <%end%>
        </div>
 
<div>
<table class="customer">
  <tbody> 

  
  
    <tr><th>Payments</th><td><%= @plan.payments_count %></td></tr>
    <tr><th>Frequency</th><td><%= @plan.frequency.capitalize %></td></tr>
    <tr><th>Interest</th><td><%= @plan.interest %></td></tr>
    <tr><th>Late fee</th><td><%= @plan.late_fee %></td></tr>
    <tr><th>Includes shipping?</th><td><%= @plan.includes_shipping %></td></tr>
    <tr><th>Includes tax?</th><td><%= @plan.includes_tax %></td></tr>
    <tr><th>Plan type</th><td><%= @plan.type %></td></tr>
    <tr><th>Min price</th><td><%= @plan.min_price %></td></tr>
    <tr><th>Max price</th><td><%= @plan.max_price %></td></tr>
    <tr><th>Product</th><td><%= @plan.product_id %></td></tr>
  
</tbody>
</table>
</div>
<a class="return" href="<%= store_plans_path%>">« Return to Payment Plans List</a>
    	</div>

