<div id="title">
    		<h1>Orders</h1> 
            <div id="add-new">
           	View:
           	  <label for="transaction-sort"></label>
           	  <select name="transaction-sort" id="transaction-sort">
           	    <option value="this-week">This Week</option>
           	    <option value="last-week">Last Week</option>
           	    <option value="this-month">This Month</option>
           	    <option value="last-month">Last Month</option>
           	    <option value="YTD">This Year to Date</option>
       	      </select> 
           	  or Sort From 
           	  <label for="date-1"></label>
           	  <input type="text" size="10" name="date-1" id="date-1" value="05/01/2011"/>
              to
              <input type="text" size="10" name="date-2" id="date-2" value="05/31/2011"/>
              Show only 
                <label for="show-only"></label>
                <select name="show-only" id="show-only">
                  <option value="status">Status</option>
                  <option value="plan">Plan</option>
                  <option value="owed">Owed</option>
                </select>
              of 
              <label for="show-only-value"></label>
              <select name="show-only-value" id="show-only-value">
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
                <option value="red">Red</option>
              </select>

            </div>
 		</div>
        
<div class="table_wrapper"> 
  <table> 
    <tr> 
      <th>Order Id</th> 
      <th>Customer</th> 
      <th>Plan</th>
      <th>Total Amount</th> 
      <th>Payments Made</th> 
      <th>Paid to Date</th> 
      <th>Owed</th> 
      <th>Status</th> 
    </tr> 
    <% @payment_plans.each do |payment_plan| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= link_to payment_plan.order_id, store_payment_plan_path(payment_plan) %></td>
        <td><%= link_to payment_plan.customer.full_name, store_customer_path(payment_plan.customer) %></td>
        <td><%= payment_plan.description %></td>
        <td><%= "%.2f" % payment_plan.amount %></td>
        <td><%= link_to "#{payment_plan.payments.count} of #{payment_plan.payments_count}", store_payment_plan_payments_path(payment_plan) %></td>
        <td><%= "%.2f" % payment_plan.payments.sum(:payment) %></td>
        <td><%= "%.2f" % (payment_plan.amount - payment_plan.payments.sum(:payment)) %></td>
        <td class="traffic"><img src="/assets/traffic-light-green.png" width="90" height="30" /></td>
      </tr>
    <% end %>
      </table> 
</div> 
    	</div>

