<div>
  <dl>
    <dt>Order Id</dt><dd><%= @payment_plan.order_id %></dd><br/>
    <dt>Total Amount</dt><dd><%= '%.2f' % @payment_plan.amount %></dd><br/>
    <dt>Shipping</dt><dd><%= '%.2f' % @payment_plan.shipping %></dd><br/>
    <dt>Tax</dt><dd><%= '%.2f' % @payment_plan.tax %></dd><br/>
    <dt>Payments</dt><dd><%= @payment_plan.payments_count %></dd><br/>
    <dt>Frequency</dt><dd><%= @payment_plan.frequency.capitalize %></dd><br/>
    <dt>Interest</dt><dd><%= '%.2f' % @payment_plan.interest %></dd><br/>
    <dt>Late fee</dt><dd><%= '%.2f' % @payment_plan.late_fee %></dd><br/>
    <% customer = @payment_plan.customer %>
    <dt>Customer</dt><dd><%= link_to "#{customer.email}", store_customer_path(customer) %></dd>
  </dl>
</div>

<div class="breadcrumb">
  <%= link_to "Payment Plans", store_payment_plans_path %>
</div>