<h1>Listing Payments</h1>

<h3>Payment Plan</h3>
<dl>
  <dt>Total Amount</dt><dd><%= '%.2f' % @payment_plan.amount %></dd><br/>
  <dt>Payments</dt><dd><%= @payment_plan.payments_count %></dd><br/>
  <dt>Frequency</dt><dd><%= @payment_plan.frequency.capitalize %></dd><br/>
</dl>

<div class="table_wrapper">
  <table>
    <tr>
      <th>Date</th>
      <th>Payment amount</th>
      <th>Payment status</th>
      <th></th>
    </tr>
    <% @payments.each do |payment| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= payment.created_at %></td>
        <td><%= "%.2f" % payment.payment %></td>
        <td><%= payment.status %></td>
        <td>
          <%= link_to 'Transactions', store_payment_plan_payment_transactions_path(@payment_plan, payment) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="breadcrumb">
  <%= link_to 'Payment Plans', store_payment_plans_path %>
</div>