<div>
  <p><strong>Email</strong> 
  <%= @user.email %></p>
  <p><strong>Customer CIM ID</strong> 
  <%= @user.customer_cim_id %></p>
  <p><strong><%= link_to "Payment Profiles", user_payment_profiles_path(@user) %></strong> 
  </p>
</div>
<div>
  <%= link_to "Edit", edit_user_path(@user) %> | <%= link_to "Users", users_path %> | <%= link_to "Delete", user_path(@user), :method => :delete %>
</div>