<p id="notice"><%= notice %></p>

<div>
  <p><strong>Number of Payments</strong> 
  <%= @payment_plan.payments_count %></p>
  <p><strong>Amount</strong>
  <%= @payment_plan.amount %></p>
  <p><strong>Shipping</strong>
  <%= @payment_plan.shipping %></p>
  <p><strong>Tax</strong>
  <%= @payment_plan.tax %></p>
  <p><strong>1st payment includes shipping</strong>
  <%= @payment_plan.includes_shipping %></p>
  <p><strong>1st payment includes tax</strong>
  <%= @payment_plan.includes_tax %></p>
  <p><strong>Interest</strong>
  <%= @payment_plan.interest %></p>
  <p><strong>Late fee</strong>
  <%= @payment_plan.late_fee %></p>
  <p><strong>Client</strong>
  <% client = @payment_plan.user %>
  <%= link_to "#{client.email}", merchant_client_path(client) %></p>
</div>
<div>
<%= link_to "Payment Plans", merchant_payment_plans_path %>

