<h1>Listing Customers</h1>

<div class="table_wrapper">
  <table>
    <tr>
      <th>Email</th>
      <th>CIM ID</th>
      <th></th>
    </tr>
    <% @customers.each do |customer| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= customer.email %></td>
        <td><%= customer.customer_cim_id %></td>
        <td><%= link_to 'Show', store_customer_path(customer) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="breadcrumb">
  <%= link_to 'Home', store_root_path %>
</div>