 <div id="title">
    		<h1>Customers</h1>
        </div>

<div class="table_wrapper">
  <table>
     <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Order ID</th>
      <th>CIM ID</th>
      <th>Status</th>
    </tr>
    <% @customers.each do |customer| %>
      <tr class="<%= cycle("odd", "even") %>">
      	<td><%= customer.first_name %></td>
      	<td><%= customer.last_name %></td>
        <td><%= link_to customer.email, store_customer_path(customer) %></td>
        <% payment_plan = customer.payment_plans.last %>
        <td><%= (payment_plan ? link_to(payment_plan.order_id, store_payment_plan_path(payment_plan)) : "N/A") %></td>
        <td><%= customer.customer_cim_id %></td>
        <td class="traffic"><img src="/assets/traffic-light-<%=customer.status_color%>.png" width="90" height="30" /></td>
      </tr>
    <% end %>
  </table>
</div>
</div>
