<div id="title">
  <h1><%= @customer.full_name %></h1>
</div>
<div>
  <table class="customer">
    <tbody> 
      <tr>
        <th>Name</th>
        <td><%= @customer.full_name %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><a href="mailto:<%= @customer.email %>"><%= @customer.email %></a></td>
      </tr>
      <tr>
        <th>Customer Since</th>
        <td>
          <%= @customer.created_at %>
        </td>
      </tr>
      <tr>
        <th>Transactions</th>
        <% payment_plan = @customer.payment_plans.last %>
        <td><%= (payment_plan ? link_to(payment_plan.order_id, store_payment_plan_path(payment_plan)) : "N/A") %></td>
      </tr>
      <tr>
        <th>Status</th>
        <td><img src="/assets/traffic-light-green.png" width="90" height="30" /></td>
      </tr>
    </tbody>
  </table>
</div>
<a class="return" href="<%= store_customers_path%>">« Return to Customers List</a>
</div>


