<a class="start-hide" href="#">hide</a>
 	<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">
			
			<div class="col1">
            <!-- Column 1 start -->
            <div class="left" style="width:20%;"><img src="/assets/checkbox-<%= b_to_i @store.first_step%>.png" width="40" height="40" alt="Payment Gateway" /></div>
            <div class="right" style="width:80%;">Add ePaymentPlans as Payment Gateway in your eCommerce Shop</div>
            <div class="bottom" style="width:93%;"><a class="start-button" href="<%=ecommerce_instructions_store_store_path(@store)%>">Click here for instructions</a></div>
            <!-- Column 1 end -->
            </div>
			<div class="col2">
				<!-- Column 2 start -->
				<div class="left" style="width:20%;"><img src="/assets/checkbox-<%= b_to_i @store.authorize_net!=nil%>.png" width="40" height="40" alt="Payment Gateway" /></div>
                <div class="right" style="width:80%;">Set up your Payment Gateway in ePaymentPlans</div>
                <div class="bottom" style="width:93%;"><a class="start-button" href="<%=store_settings_path%>">Click here to set up Payment Gateway</a></div>
				<!-- Column 2 end -->
			</div>
			<div class="col3">
				<!-- Column 3 start -->
				<div class="left" style="width:20%;"><img src="/assets/checkbox-<%= b_to_i @store.plans.count>0%>.png" width="40" height="40" alt="Payment Gateway" /></div>
                <div class="right" style="width:80%;">Create payment plans</div>
                <div class="bottom" style="width:93%;"><a class="start-button" href="<%=new_store_plan_path()%>">Click here to set up Payment Plans</a></div>
                <!-- Column 3 end -->
			</div>
		</div>
	</div>    
</div>