<div>
  <p><strong>Number of Payments</strong> 
  <%= @plan.payments_count %></p>
  <p><strong>1st payment includes shipping</strong>
  <%= @plan.includes_shipping %></p>
  <p><strong>1st payment includes tax</strong>
  <%= @plan.includes_tax %></p>
  <p><strong>Interest</strong>
  <%= @plan.interest %></p>
  <p><strong>Late fee</strong>
  <%= @plan.late_fee %></p>
  <p><strong>Plan type</strong>
  <%= @plan.plan_type %></p>
  <p><strong>Min price</strong>
  <%= @plan.min_price %></p>
  <p><strong>Max price</strong>
  <%= @plan.max_price %></p>
  <p><strong>Product</strong>
  <%= @plan.product_id %></p>
</div>