<!DOCTYPE html>
<html>
<head>
  <title>ePaymentPlans :: Give every customer a chance to buy</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag    "main" %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="top">
      <div id="logo"><a href="<%= signed_in? && current_user.store? ? store_root_path : root_path %>"><h1>ePaymentPlans.com</h1></a></div>
      <div id="info-top"><a href="#"><img src="/assets/info-top.png" /></a></div>
      <% if signed_in? %>
      <div id="top-menu">Welcome <%= current_user.name %>!<a href="<%= destroy_user_session_path %>">Sign Out</a></div>
      <% else %>
      <div id="top-menu"><a href="<%= new_user_session_path %>">Log in</a><a href="<%= new_user_registration_path %>">Sign Up</a></div>
      <% end %>
    </div>
    <div id="mid">
      <% flash.each do |key, text| -%>
      <p class="<%= key %>"><%= text %></p>
      <% end -%>
      <%= yield %>
      <% flash.discard %>
    </div>
    <div id="bot">
      <div id="links"><a href="#">Home</a><a href="#">About Us</a><a href="#">Contact Us</a></div>
      <div id="tmark"><a href="#"><img src="/assets/logo-bot.png" /></a></div>
    </div>
  </div>
</body>
</html>
