<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
  <title><%= @store.name %> - Checkout</title> 
  <%= stylesheet_link_tag    "checkout","colorbox" %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "application","jquery.colorbox-min" %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head> 

<body> 
  <div id="info-bar"> 
    <img alt="Lock" src="https://cdn.shopify.com/s/images/admin/icons/lock.gif?2ecdc17fef99b94dd8eea4beacd3e171d350335b" /> 
    <span>You are browsing our secure server.</span> 
  </div>

  <div id="container" class=""> 
    <div id="header"> 
      <div id="logo"><!-- css hook for logos --></div> 
      <h1 id="tagline"><span class="title"><%= @store.name %></span> <span class="subtitle">Select your payment plan and checkout.</span></h1> 
    </div> 

    <% flash.each do |key, text| -%>
      <p class="<%= key -%>"><%= text -%></p>
    <% end -%>

    <%= yield %>
    <% flash.discard %>

    <div id="footer">
      <div id="shop-policies" style="text-align:center; font-size: 11px;"> 
        <a href="/carts/665272/4a84eda009f9f537699ed0b70fd1f1d7/policies?policy_id=221972" onclick="window.open('/carts/665272/4a84eda009f9f537699ed0b70fd1f1d7/policies?policy_id=221972','popup','width=600, height=600, directories=no, location=no, menubar=no, resizable=yes, scrollbars=yes, status=no, toolbar=no'); return false;" style="margin:0 5px;" target="_blank">Refund Policy</a> 
        <a href="/carts/665272/4a84eda009f9f537699ed0b70fd1f1d7/policies?policy_id=221982" onclick="window.open('/carts/665272/4a84eda009f9f537699ed0b70fd1f1d7/policies?policy_id=221982','popup','width=600, height=600, directories=no, location=no, menubar=no, resizable=yes, scrollbars=yes, status=no, toolbar=no'); return false;" style="margin:0 5px;" target="_blank">Privacy Policy</a> 
        <a href="/carts/665272/4a84eda009f9f537699ed0b70fd1f1d7/policies?policy_id=221992" onclick="window.open('/carts/665272/4a84eda009f9f537699ed0b70fd1f1d7/policies?policy_id=221992','popup','width=600, height=600, directories=no, location=no, menubar=no, resizable=yes, scrollbars=yes, status=no, toolbar=no'); return false;" style="margin:0 5px;" target="_blank">Terms of Service</a> 
      </div>
      <p> All rights reserved. &copy; 2011 <%= @store.name %>.</p>
    </div>
  </div>
  <!-- This element is required to read the background color for highlight effects in custom checkout stylesheets --> 
  <div id="wallet-highlight" class="wallet-highlight" style="display: none;"></div>
</body>
</html>